.gradient-custom-3 {
    /* fallback for old browsers */
    background: #001466;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(3, 7, 95, 0.5), rgba(53, 79, 196, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(18, 25, 151, 0.5), rgba(5, 78, 114, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #001466;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(8, 25, 117), rgb(4, 26, 72));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(11, 8, 93), rgb(9, 68, 97))
    }
    #buttonRegister{
        color: aliceblue;

    }